@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.window-app .window-content {
  background-image: url(../assets/paper.webp);
}

button {
  font-family: "Germania One", cursive;
  font-size: 16px;
  color: #494e31;
  background-color: #f0eeea;
}

button:hover {
  box-shadow: 0 0 5px #759549;
  cursor: pointer;
}

.font-primary {
  font-family: "Roboto", sans-serif;
}

.font-secondary {
  font-family: "Roboto", sans-serif;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="time"]:focus {
  box-shadow: 0 0 5px #759549;
}

a:hover {
  text-shadow: 0 0 10px #494e31;
  cursor: pointer;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px #759549;
  cursor: pointer;
}

.ac2d20-dialog .resource {
  margin: 0 2px 5px;
  padding: 0 5px 0 0;
  background-color: #759549;
}

.ac2d20-dialog .resource .title-label {
  padding: 5px;
  font-family: "Germania One", cursive;
  font-size: 1rem;
  color: #fff;
}

.ac2d20-dialog .resource input[type="number"] {
  text-align: center;
  background-color: #f0eeea;
}

.ac2d20-dialog ul {
  list-style: none;
  padding: 5px 20px;
  margin: 0 2px 5px;
}

.ac2d20-dialog ul li {
  text-decoration: none;
  text-align: center;
}

.ac2d20-dialog ul li .dice-icon {
  cursor: pointer;
  width: 32px;
  line-height: 32px;
  display: inline-block;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  font-size: 16px;
  color: #ebe7d7;
  font-weight: bold;
  text-align: center;
  background-image: url(../assets/chat/d20-green-light.svg);
}

.ac2d20-dialog ul li .dice-icon.marked {
  color: #ebe7d7;
  background-image: url(../assets/chat/d20-olive.svg);
}

.chat-message {
  background-image: url(../assets/paper.webp);
}

.ac2d20-chat-message .content {
  padding: 5px;
}

.ac2d20-chat-message .content h2 {
  border: none;
  font-family: "Germania One", cursive;
  font-weight: 700;
}

.ac2d20-chat-message .content .dices-result {
  margin: 5px 0 5px 0;
  min-height: 32px;
}

.ac2d20-chat-message .content .success-plaq {
  margin: 0 0 5px 0;
  font-family: "Germania One", cursive;
  color: #494e31;
  font-size: 16px;
}

.ac2d20-chat-message .content .success-plaq .TN {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.ac2d20-chat-message .content .complication-plaq {
  margin: 0 0 5px 0;
  font-family: "Germania One", cursive;
  color: #6b0b0b;
}

.ac2d20-chat-message .content .damage-plaq {
  margin: 0 0 5px 0;
  font-family: "Germania One", cursive;
  font-size: 16px;
}

.ac2d20-chat-message .content .dice-icon {
  cursor: pointer;
  position: relative;
  min-width: 28px;
  line-height: 28px;
  float: left;
  margin-right: 1px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.ac2d20-chat-message .content .dice-icon.d20 {
  background-image: url(../assets/chat/d20-white.svg);
}

.ac2d20-chat-message .content .dice-icon.d20.complication {
  color: honeydew !important;
  background-image: url(../assets/chat/d20-complication.svg);
}

.ac2d20-chat-message .content .dice-icon.d20.success {
  background-image: url(../assets/chat/d20-success.svg);
}

.ac2d20-chat-message .content .dice-icon.d20.crit {
  color: gold !important;
  background-image: url(../assets/chat/d20-crit.svg);
}

.ac2d20-chat-message .content .dice-icon.d20.reroll {
  color: #1d1d1d;
}

.ac2d20-chat-message .content .dice-icon.d6 {
  width: 32px;
  line-height: 32px;
  background-size: 32px 32px;
  margin: 2px;
}

.ac2d20-chat-message .content .dice-icon.d6.face-1 {
  background-image: url(../assets/chat/d1.webp);
}

.ac2d20-chat-message .content .dice-icon.d6.face-2 {
  background-image: url(../assets/chat/d2.webp);
}

.ac2d20-chat-message .content .dice-icon.d6.face-3 {
  background-image: url(../assets/chat/d3.webp);
}

.ac2d20-chat-message .content .dice-icon.d6.face-4 {
  background-image: url(../assets/chat/d4.webp);
}

.ac2d20-chat-message .content .dice-icon.d6.face-5 {
  background-image: url(../assets/chat/d5.webp);
}

.ac2d20-chat-message .content .dice-icon.d6.face-6 {
  background-image: url(../assets/chat/d6.webp);
}

.ac2d20-chat-message .content .dice-icon.dice-selected {
  opacity: 0.45;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6 / span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.ac2d20.momentum-tracker {
  position: absolute;
  display: block;
  margin: 5px;
  bottom: 40px !important;
  right: 320px !important;
  max-width: 180px;
}

.ac2d20.momentum-tracker .ap-resource {
  position: relative;
  padding: 10px 20px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 9px;
  font-family: "Germania One", cursive;
  margin-bottom: 10px;
}

.ac2d20.momentum-tracker .ap-resource.gm {
  background-color: #494e31;
}

.ac2d20.momentum-tracker .ap-resource.party {
  background-color: #759549;
}

.ac2d20.momentum-tracker .ap-resource.maxMomentum-box {
  background-color: #494e31;
}

.ac2d20.momentum-tracker .ap-resource .toggle-maxAp {
  position: absolute;
  top: 8px;
  right: 5px;
  color: beige;
}

.ac2d20.momentum-tracker .ap-resource:last-child {
  margin-bottom: 0;
}

.ac2d20.momentum-tracker .ap-resource h4 {
  margin: 0 0 2px 0;
  color: bisque;
}

.ac2d20.momentum-tracker .ap-resource input[type="number"] {
  margin: 0 5px;
  font-size: 16px;
  text-align: center;
}

.ac2d20.momentum-tracker .ap-resource .ap-btn {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  border-radius: 6px;
}

/* Styles limited to ac2d20 sheets */
.ac2d20 {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for Boilerplate (can be removed if not needed) */
}

.ac2d20 .item-form {
  font-family: "Roboto", sans-serif;
}

.ac2d20 .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.ac2d20 .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
  position: absolute;
  box-shadow: 0px 1px 5px black;
  border: 5px solid #fff;
  background-color: #ebe7d7;
}

.ac2d20 .sheet-header .paperclip {
  position: absolute;
  height: 60px;
  margin-right: 10px;
  border: none;
  top: 23px;
}

.ac2d20 .sheet-header .header-fields {
  flex: 1;
}

.ac2d20 .sheet-header h1.sheet-name {
  font-family: "Germania One", cursive;
  padding: 0;
  margin: 0;
  border-bottom: 0;
  flex: 2;
}

.ac2d20 .sheet-header h1.sheet-name input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.ac2d20 nav.sheet-tabs {
  position: absolute;
  top: 36px;
  right: 10px;
  border: none;
  line-height: unset;
  margin: 0;
  flex: 0;
}

.ac2d20 nav.sheet-tabs .item {
  border: 1px solid silver;
  position: relative;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Germania One", cursive;
  color: #000;
  background-color: #fff;
  text-shadow: none;
}

.ac2d20 nav.sheet-tabs .item.active {
  color: #ebe7d7;
  background-color: #494e31;
  text-shadow: none;
}

.ac2d20 .sheet-body,
.ac2d20 .sheet-body .tab,
.ac2d20 .sheet-body .tab .editor {
  height: 100%;
}

.ac2d20 .tox .tox-editor-container {
  background: #fff;
}

.ac2d20 .tox .tox-edit-area {
  padding: 0 8px;
}

.ac2d20 .section-title {
  display: flex;
  flex-direction: row;
}

.ac2d20 .section-title h3 {
  font-family: Germania One;
  color: #ebe7d7;
  background-color: #494e31;
  padding: 2px 5px;
  margin-bottom: 0;
  width: fit-content;
}

.ac2d20 .section-title .right-slope {
  min-width: 22px;
  background-repeat: no-repeat;
}

.ac2d20 .section-title .right-slope.olive {
  background-image: url(../assets/right-slope-olive.webp);
}

.ac2d20 .attribute-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  color: #ebe7d7;
}

.ac2d20 .attribute-grid .attribute-cell {
  display: flex;
  align-items: center;
  padding: 1px;
  justify-content: center;
  border: 1px solid #759549;
  margin: 0 -1px -1px 0;
}

.ac2d20 .attribute-grid .attribute-cell.green {
  background-color: #759549;
}

.ac2d20 .attribute-grid .attribute-cell.olive {
  font-family: "Germania One", cursive;
  background-color: #494e31;
}

.ac2d20 .attribute-grid .attribute-cell input[type="number"] {
  text-align: center;
}

.ac2d20 .stress-derived-box {
  padding: 5px;
  margin-bottom: 10px;
}

.ac2d20 .derived-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.ac2d20 .derived-box input[type="number"] {
  font-size: 1.2rem;
  line-height: 1.2rem;
  height: 30px;
  font-family: 'Germania One';
}

.ac2d20 .derived-box h3 {
  padding: 2px 5px;
  margin: 0;
  color: #ebe7d7;
  background-color: #494e31;
  font-family: Germania One;
}

.ac2d20 .derived-box h3.minmax {
  padding-right: 5px;
  background-color: #494e31;
}

.ac2d20 .injuries-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 10px;
}

.ac2d20 .injuries-grid .injury-cell {
  padding: 2px;
  border: 1px solid #759549;
  margin: 0 -1px -1px 0;
}

.ac2d20 .injuries-grid .injury-cell textarea {
  resize: none;
  border: none;
  background-color: unset;
}

.ac2d20 .scars-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
}

.ac2d20 .scars-grid .scar-cell {
  padding: 2px;
  border: 1px solid #759549;
  margin: 0 -1px -1px 0;
}

.ac2d20 .scars-grid .scar-cell textarea {
  resize: none;
  border: none;
  background-color: unset;
}

.ac2d20 .skills-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 10px;
}

.ac2d20 .skills-grid .skill-cell {
  padding: 2px;
  border: 1px solid #759549;
  margin: 0 -1px -1px 0;
}

.ac2d20 .skills-grid .skill-cell.long {
  grid-column-start: 3;
  grid-column-end: 6;
}

.ac2d20 input[type="text"],
.ac2d20 input[type="number"] {
  background-color: #ebe7d7;
  color: #1f1f2b;
}

.ac2d20 input[type="text"].underline,
.ac2d20 input[type="number"].underline {
  background-color: unset;
  border: unset;
  border-bottom: 1px solid #1f1f2b;
  color: #1f1f2b;
}

.ac2d20 input[type="text"].underline::placeholder,
.ac2d20 input[type="number"].underline::placeholder {
  color: #999;
}

.ac2d20 input[type="text"].borderless,
.ac2d20 input[type="number"].borderless {
  border: none;
}

.ac2d20 select {
  color: #1f1f2b;
  background-color: #dad3b5;
}

.ac2d20 .upperC {
  text-transform: uppercase;
}

.ac2d20 .lowerC {
  text-transform: lowercase;
}

.ac2d20 .text-center {
  text-align: center;
}

.ac2d20 .num-short-2 {
  max-width: 2rem;
  text-align: center;
}

.ac2d20 .num-short-3 {
  max-width: 3rem;
  text-align: center;
}

.ac2d20 .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: #759549;
  font-weight: bold;
}

.ac2d20 .items-header > * {
  font-size: 14px;
  text-align: center;
}

.ac2d20 .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}

.ac2d20 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #1f1f2b;
}

.ac2d20 .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ac2d20 .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}

.ac2d20 .items-list .item-name h3, .ac2d20 .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}

.ac2d20 .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}

.ac2d20 .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}

.ac2d20 .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #ebe7d7;
}

.ac2d20 .items-list .item:last-child {
  border-bottom: none;
}

.ac2d20 .items-list .item .item-name {
  color: #1f1f2b;
}

.ac2d20 .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}

.ac2d20 .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.ac2d20 .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}

.ac2d20 .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}

.ac2d20 .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}

.ac2d20 .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.ac2d20 .effects .item .effect-source,
.ac2d20 .effects .item .effect-duration,
.ac2d20 .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}

.ac2d20 .effects .item .effect-controls {
  border: none;
}
/*# sourceMappingURL=ac2d20.css.map */