@use "sass:meta";
@use "global/typography";

// Import utilities.
// @import 'utils/typography';
@use 'utils/colors';
@use 'utils/mixins';
@use 'utils/variables';

/* Global styles */
@use 'global/window';
@use 'global/grid';
@use 'global/flex';
@use 'components/journal';
@use "components/momentum-app";

/* Styles limited to ac2d20 sheets */
.ac2d20 {
	@include meta.load-css('components/forms');
	@include meta.load-css('components/resource');
	@include meta.load-css('components/items');
	@include meta.load-css('components/effects');

}

.ac2d20.sheet.actor {
	min-width: 720px;
}
.ac2d20.sheet.npc {
	min-width: 550px;
}
.ac2d20.sheet.vehicle {
	min-width: 550px;
}
