<div class="ac2d20-dialog">
	<div class="flexrow" style="background-color: #759549; padding: 8px;">
		<div style="background-color: #ebe7d7;">
			<input
				class="truth"
				data-dtype="String"
				style="border: none;"
				type="text"
				value="{{truth}}"
				autofocus
			>
			<input
				class="index"
				data-dtype="Number"
				type="hidden"
				value="{{index}}"
			>
			<input
				class="actorUuid"
				data-dtype="String"
				type="hidden"
				value="{{actorUuid}}"
			>
		</div>
	</div>
</div>
