$c-white: #fff;
$c-black: #000;
$c-grey: rgb(192, 192, 192);

$c-light: #ebe7d7;
$c-dark: #1f1f2b;
$c-beige: #f0eeea;
$c-green-olive: #494e31;
$c-green-light: #759549;
$c-green-neon: #b4bb5b;
$c-red-dark: #6b0b0b;