@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-germania: 'Germania One', cursive;