@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');


$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-germania: 'Germania One', cursive;

$icomoon-font-family: "cthulhu-icons" !default;
$icomoon-font-path: "../assets/fonts" !default;

$cth-ico-cth: "\e900";
$cth-ico-cth-cross: "\e901";

@font-face {
	font-family: '#{$icomoon-font-family}';
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h5tze8');
	src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?h5tze8#iefix') format('embedded-opentype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?h5tze8') format('truetype'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?h5tze8') format('woff'),
	url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?h5tze8##{$icomoon-font-family}') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="cth-"],
[class*=" cth-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: '#{$icomoon-font-family}' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cth-ico-cth {
	&:before {
		content: $cth-ico-cth;
	}
}

.cth-ico-cth-cross {
	&:before {
		content: $cth-ico-cth-cross;
	}
}


/* Generated by Glyphter (http://www.glyphter.com) on  Wed Sep 21 2022*/
@font-face {
	font-family: 'AC Cthulhu Icons';
	src: url('../fonts/AC-Cthulhu-Icons.eot');
	src: url('../fonts/AC-Cthulhu-Icons.ttf') format('truetype'),
		url('../fonts/AC-Cthulhu-Icons.woff') format('woff'),
		url('../fonts/AC-Cthulhu-Icons.svg#AC-Cthulhu-Icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*='cthl-']:before {
	display: inline-block;
	font-family: 'AC Cthulhu Icons';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.cthl-cthulhu:before {
	content: '\0041';
}

.cthl-cross:before {
	content: '\0043';
}
