<div class="attribute-grid" style="margin-bottom: 10px;">
  <div class='attribute-cell olive'>Attribute</div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell green">
    <label class="resource-label align-left" data-label="{{attribute.label}}"><strong>{{localize (concat 'AC2D20.Ability.' key)}}</strong></label>
  </div>
  {{/each}}

  <div class='attribute-cell green'><strong>Rating</strong></div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell">
    <input type="number" class="borderless" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" min="0" />
  </div>
  {{/each}}

  <div class='attribute-cell green'><strong>Bonus</strong></div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell">
    <input type="number" class="borderless" name="data.attributes.{{key}}.bonus" value="{{attribute.bonus}}" data-dtype="Number" min="0" />
  </div>
  {{/each}}
</div>

<div class="flexrow stress-derived-box">
  <div class="flexrow flex-2">
    <div class="derived-box" style="justify-content: start;">
      <h3 style="padding-right: 25px;">STRESS</h3>
      <h3 class='minmax'>min</h3>
      <input class="num-short-3" type="number" min="0" name="data.stress.value" value="{{data.stress.value}}">
      <h3 class='minmax'>max</h3>
      <input class="num-short-3" type="number" min="0" name="data.stress.max" value="{{data.stress.max}}">
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0" name="data.courageResistance.value" value="{{data.courageResistance.value}}">
    <div class="section-title">
      <h3>Courage</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0" name="data.armorResistance.value" value="{{data.armorResistance.value}}">
    <div class="section-title">
      <h3>Armor</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0" name="data.fortune.value" value="{{data.fortune.value}}">
    <div class="section-title">
      <h3>Fortune</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>
</div>

<div class="section-title">
  <h3>Injuries</h3>
  <span class="right-slope olive"></span>
</div>
<div class="injuries-grid">
  {{#each data.injuries.list as |injury key|}}
  <div class="injury-cell injury" data-index="{{@index}}">
    {{#if (hasInjury injury.text)}}
    <div class="controls">
      <input type="checkbox" class="injury-type" title="{{#if (eq injury.injuryType true)}}Mental{{/if}}{{#if (ne injury.injuryType true)}}Physical{{/if}}" {{#if (eq injury.injuryType true)}}checked{{/if}}>
      <input type="checkbox" class="treated" title="{{#if (eq injury.treated true)}}Treated{{/if}}{{#if (ne injury.treated true)}}Not Treated{{/if}}" {{#if (eq injury.treated true)}}checked{{/if}}>
    </div>
    <hr style="margin: 1px 0;" />
    {{/if}}
    <textarea class="injury-text">{{{injury.text}}}</textarea>
  </div>
  {{/each}}
</div>

<div class="section-title">
  <h3>Personal Truths & Scars</h3>
  <span class="right-slope olive"></span>
</div>
<div class="truths-grid">
  {{#each data.truths as |truth key|}}
  <div class="truth-cell" data-index="{{@index}}"><textarea class="truth-text" rows="4">{{{truth.text}}}</textarea></div>
  {{/each}}
</div>

<div class="section-title">
  <h3>Skills</h3>
  <span class="right-slope olive"></span>
</div>
<div class="skills">
  {{#each skills as |item id|}}
  <div class="item skill" data-item-id="{{item._id}}">
    <label class="skill-name">
      {{item.name}}
    </label>
    <div class="skill-value">
      <input type="number" class="skill-value-input num-short-2 borderless" name="data.value" value="{{data.value}}">
    </div>
    <div class="skill-focuses">
      {{#each item.data.focuses}}
      <span class="skill-focus {{#if (eq this.isfocus true)}}focused{{/if}}" data-item-id="{{item._id}}">{{this.title}},&nbsp;</span>
      {{/each}}
    </div>
    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
  </div>
  {{/each}}
</div>