<header class="sheet-header {{actor.type}}-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <img class="paperclip" src="systems/ac2d20/assets/paperclip-60.png" data-edit="img" height="60" />
    <div class="flexcol" style="height: 100%; padding-left: 110px; margin-bottom: 20px;">
        <div class="flexrow" style="padding: 10px 5px 0px 5px;">
            <h1 class="sheet-name" style="align-self: flex-end; margin: 0 5px;"><input class="underline" name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <input placeholder="Nationality" type="text" class="underline" name="data.nationality" value="{{data.nationality}}" data-dtype="String" style="align-self: flex-end; margin: 0 5px;" />
            <input placeholder="Rank" type="text" class="underline" name="data.rank" value="{{data.rank}}" data-dtype="String" style="align-self: flex-end; margin: 0 5px;" />
        </div>
        <div class="flexrow" style="padding: 0 5px;">
            <input placeholder="Archetype" type="text" class="underline" name="data.archetype" value="{{data.archetype}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
            <input placeholder="Background" type="text" class="underline" name="data.background" value="{{data.background}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
            <input placeholder="Characteristic" type="text" class="underline" name="data.characteristic" value="{{data.characteristic}}" data-dtype="String" style="align-self: flex-end;margin: 0 5px;" />
        </div>
    </div>
</header>