<div class="attribute-grid" style="margin-bottom: 10px;">
  <div class='attribute-cell olive'>Attribute</div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell green">
    <label class="resource-label align-left" data-label="{{attribute.label}}"><strong>{{localize (concat 'AC2D20.Ability.' key)}}</strong></label>
  </div>
  {{/each}}

  <div class='attribute-cell green'><strong>Rating</strong></div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell">
    <input type="number" class="borderless" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" min="0" />
  </div>
  {{/each}}

  <div class='attribute-cell green'><strong>Bonus</strong></div>
  {{#each data.attributes as |attribute key|}}
  <div class="attribute-cell">
    <input type="number" class="borderless" name="data.attributes.{{key}}.bonus" value="{{attribute.bonus}}" data-dtype="Number" min="0" />
  </div>
  {{/each}}
</div>


<div class="flexrow stress-derived-box">
  <div class="flexrow flex-2">
    <div class="derived-box" style="justify-content: start;">
      <h3 style="padding-right: 25px;">STRESS</h3>
      <h3 class='minmax'>min</h3>
      <input class="num-short-3" type="number" min="0">
      <h3 class='minmax'>max</h3>
      <input class="num-short-3" type="number" min="0">
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0">
    <div class="section-title">
      <h3>Courage</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0">
    <div class="section-title">
      <h3>Armor</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>
  <div class="derived-box">
    <input class="num-short-3" type="number" min="0">
    <div class="section-title">
      <h3>Fortune</h3>
      <span class="right-slope olive"></span>
    </div>
  </div>

</div>

<div class="section-title">
  <h3>Injuries</h3>
  <span class="right-slope olive"></span>
</div>

<div class="injuries-grid">
  <div class="injury-cell"><textarea rows="3"></textarea></div>
  <div class="injury-cell"><textarea rows="3"></textarea></div>
  <div class="injury-cell"><textarea rows="3"></textarea></div>
</div>

<div class="section-title">
  <h3>Personal Truths & Scars</h3>
  <span class="right-slope olive"></span>
</div>
<div class="scars-grid">
  <div class="scar-cell"><textarea rows="4"></textarea></div>
  <div class="scar-cell"><textarea rows="4"></textarea></div>
  <div class="scar-cell"><textarea rows="4"></textarea></div>
  <div class="scar-cell"><textarea rows="4"></textarea></div>
  <div class="scar-cell"><textarea rows="4"></textarea></div>
</div>

<div class="section-title">
  <h3>Skills</h3>
  <span class="right-slope olive"></span>
</div>
<div class="skills-grid">
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">skill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell longskill-cell long</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell">1</div>
  <div class="skill-cell long">1</div>
</div>