<div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
    <div class="section-title">
        <h3>Spells<span class="item-create clickable" data-type="spell">&nbsp;&nbsp;&nbsp;&nbsp; +</span></h3>
        <span class="right-slope olive"></span>
    </div>
    <div class="section-title" style="border: 1px solid #759549;">
        <h3>Power</h3>
        <span class="right-slope olive"></span>
        <span><input type="number" name="data.power.value" value="{{data.power.value}}" class="borderless num-short-3" style="height: 22px;"> / <input type="number" name="data.power.max" value="{{data.power.max}}" class="borderless num-short-3" style="height: 22px;"></span>
    </div>
</div>
<div class="ac-grid">
    <div class="item">
        <div class="row">
            <div class="cell f4 green" style="background-color: #494e31;">Name</div>
            <div class="cell f3 align-center">Skill (Focus)</div>
            <!-- <div class="cell f2">Focus</div> -->
            <div class="cell f1 align-center">Diff</div>
            <div class="cell f3 align-center">Cost</div>
            <div class="cell f1 align-center">Dur</div>
            <!-- <div class="cell f1 align-center"></div> -->
        </div>
    </div>
    {{#each spells as |item key|}}
    <div class="item spell editable-item" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f4 green cell-expander align-left align-center cell-name"> <img src="{{item.img}}" />{{item.name}}</div>
            <div class="cell f3 roll-spell skill-name clickable align-center"><i class="fas fa-dice-d20"></i>&nbsp;{{item.data.skill}} ({{item.data.focus}})</div>
            <div class="cell f1 align-center">{{item.data.difficulty}}</div>
            <div class="cell f3 roll-spell-cost clickable align-center">{{item.data.cost}}<span class="cth-ico-cth"></span>&nbsp;{{item.data.costEffects}}</div>
            <div class="cell f1 align-center">{{item.data.duration}}</div>
        </div>

        {{#if (gt item.data.ritualStress.max 0)}}
        <div class="row" style="border-top: 1px dashed #759549; padding: 0.3rem; font-size: 0.688rem;">
            <span>
                <strong>Ritual Stress: </strong>
                <input type="number" class="ritual-stress item-value-changer num-short-2 num-small" data-field="ritualStress.value" value="{{data.ritualStress.value}}" min="0"> / {{item.data.ritualStress.max}} &nbsp; &nbsp;
                <strong>Ritual Steps: </strong>
                <input type="number" class="ritual-steps item-value-changer num-short-2 num-small" data-field="ritualSteps.value" value="{{data.ritualSteps.value}}" min="0"> / {{item.data.ritualSteps.max}} &nbsp; &nbsp;
                <strong>Resistance: </strong>{{item.data.ritualResistance}}
            </span>
        </div>
        {{/if}}

    </div>
    {{/each}}
</div>