<div class="section-title">
    <h3>Equipment</h3>
    <span class="right-slope olive"></span>
</div>

<div class="ac-grid">

    {{#each equipment as |item key|}}
    <div class="item equipment" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f5  align-left align-center cell-expander" style="cursor: pointer;">{{item.data.quantity}}x {{item.name}} ({{localize (concat 'AC2D20.TEMPLATES.SizeLevels.' (getSizeLabel item.data.weight))}})</div>
            <div class="cell f1 controls align-center" style="display: flex; justify-content: space-between; border-right: none; ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>