<div class="section-title">
    <h3>Armor</h3>
    <span class="right-slope olive"></span>
</div>

<div class="ac-grid" style="margin-bottom: 10px;">
    <div class="item">
        <div class="row">
            <div class="cell f2 green align-left"><strong>Name</strong></div>
            <div class="cell f1"><strong>Resistance</strong></div>
            <div class="cell f3"><strong>Qualities</strong></div>
            <div class="cell f1"><strong>Restriction</strong></div>
            <div class="cell f1"></div>
        </div>
    </div>
    {{#each armor as |item key|}}
    <div class="item armor" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f2 green align-left cell-expander" style="cursor: pointer;">{{item.name}}</div>
            <div class="cell f1">{{item.data.resistance}}</div>
            <div class="cell f3">
                {{#each (getArmorQualities item)}}
                {{localize (concat 'AC2D20.ARMOR.qualities.' @this)}}
                {{/each}}
            </div>
            <div class="cell f1">{{item.data.restriction}}</div>
            <div class="cell f1 controls" style="display: flex; justify-content: space-between; border-right: none; ">
                <span style="display: flex;">
                    <a class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}" title='{{localize "AC2D20.TEMPLATES.equipped"}}'>
                        <i class="fas fa-tshirt"></i>
                    </a>
                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                </span>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>