<div class="section-title">
    <h3>Weapons<span class="item-create clickable" data-type="weapon" data-weight="3">&nbsp;&nbsp;&nbsp;&nbsp; +</span></h3>
    <span class="right-slope olive"></span>
</div>

<div class="ac-grid" style="margin-bottom: 10px;">
    <div class="item">
        <div class="row">
            <div class="cell f4 green align-left" style="background-color: #494e31;"><strong>Name</strong></div>
            <div class="cell f3 align-center"><strong>Focus</strong></div>
            <div class="cell f2 align-center"><strong>Range</strong></div>
            <div class="cell f2 align-center"><strong>Stress</strong></div>
            <div class="cell f2 align-center"><strong>Ammo</strong></div>
            <div class="cell f1 align-center"></div>
        </div>
    </div>
    {{#each weapons as |item key|}}
    <div class="item weapon" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f4 green cell-expander align-left align-center" style="cursor: pointer;">{{item.name}}</div>
            <div class="cell f3 roll-weapon clickable focus-name align-center"><i class="fas fa-dice-d20"></i>&nbsp;{{localize (concat 'AC2D20.FOCUS.' item.data.focus)}}</div>
            <div class="cell f2 align-center">{{localize (concat 'AC2D20.RANGE.' item.data.range)}}</div>
            <div class="cell f2 stress clickable roll-stress align-center">{{item.data.stress}} <span class="cth-ico-cth"></span> + {{getAttributeBonus ../actor item.data.weaponType}} <span class="cth-ico-cth"></span></div>
            <div class="cell f2 align-center">
                <input type="number" class="ammo-quantity num-short-3" style="height: 1.1rem;" name="data.ammo" value="{{item.data.ammo}}">
            </div>
            <div class="cell f1 controls align-center" style="display: flex; justify-content: space-between; border-right: none; ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
        <div class="row" style="border-top: 1px dashed #759549; padding: 0.3rem; font-size: 0.688rem;">
            <span><strong>Qualities: </strong>{{getWeaponQualities item.data}}&nbsp; | &nbsp;
                <strong>Efects: </strong>{{getWeaponEffects item.data}}&nbsp;&nbsp;&nbsp;&nbsp; | &nbsp;
                <strong>Salvo:</strong>{{item.data.salvo}}&nbsp;&nbsp; | &nbsp;
                <strong>Size:</strong>{{localize (concat 'AC2D20.TEMPLATES.SizeLevels.' (getSizeLabel item.data.weight))}}
            </span>
        </div>
    </div>
    {{/each}}
</div>