<div style="display: flex; justify-content: space-between; margin-bottom: 5px;">
    <div class="section-title">
        <h3>Spells</h3>
        <span class="right-slope olive"></span>
    </div>
    <div class="section-title" style="border: 1px solid #759549;">
        <h3>Power</h3>
        <span class="right-slope olive"></span>
        <span><input type="number" name="data.power.value" value="{{data.power.value}}" class="borderless num-short-3" style="height: 22px;"> / <input type="number" name="data.power.max" value="{{data.power.max}}" class="borderless num-short-3" style="height: 22px;"></span>
    </div>
</div>
<div class="ac-grid">
    <div class="item">
        <div class="row">
            <div class="cell f3 green">Name</div>
            <div class="cell f3 align-center">Skill (Focus)</div>
            <!-- <div class="cell f2">Focus</div> -->
            <div class="cell f1 align-center">Diff</div>
            <div class="cell f1 align-center">Cost</div>
            <div class="cell f1 align-center">Dur</div>
            <div class="cell f1 align-center"></div>
        </div>
    </div>
    {{#each spells as |item key|}}
    <div class="item spell" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f3 green cell-expander" style="cursor: pointer;">{{item.name}}</div>
            <div class="cell f3 roll-spell skill-name clickable align-center"><i class="fas fa-dice-d20"></i>&nbsp;{{item.data.skill}} ({{item.data.focus}})</div>
            <!-- <div class="cell f2 roll-spell focus-name clickable"><i class="fas fa-dice-d20"></i>&nbsp;{{item.data.focus}}</div> -->
            <div class="cell f1 align-center">{{item.data.difficulty}}</div>
            <div class="cell f1 roll-spell-cost clickable align-center">{{item.data.cost}}<span class="cth-ico-cth"></span></div>
            <div class="cell f1 align-center">{{item.data.duration}}</div>
            <div class="cell f1 item-controls" style="display: flex; gap:0.313rem; border-right: none; ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>