<div class="section-title">
    <h3>Weapons</h3>
    <span class="right-slope olive"></span>
</div>

<div class="ac-grid" style="margin-bottom: 10px;">
    <div class="item">
        <div class="row">
            <div class="cell f4 green align-left"><strong>Name</strong></div>
            <div class="cell f3"><strong>Focus</strong></div>
            <div class="cell f2"><strong>Range</strong></div>
            <div class="cell f2"><strong>Stress</strong></div>
            <div class="cell f2"><strong>Salvo</strong></div>
            <div class="cell f2"><strong>Size</strong></div>
            <div class="cell f2"><strong>Ammo</strong></div>
            <div class="cell f1"></div>
        </div>
    </div>
    {{#each weapons as |item key|}}
    <div class="item weapon" data-item-id="{{item._id}}">
        <div class="row">
            <div class="cell f4 green cell-expander align-left" style="cursor: pointer;">{{item.name}}</div>
            <div class="cell f3 roll-weapon clickable focus-name"><i class="fas fa-dice-d20"></i>&nbsp;{{localize (concat 'AC2D20.FOCUS.' item.data.focus)}}</div>
            <div class="cell f2">{{localize (concat 'AC2D20.RANGE.' item.data.range)}}</div>
            <div class="cell f2 stress clickable roll-stress">{{item.data.stress}} <span class="cth-ico-cth"></span> + {{getAttributeBonus ../actor item.data.weaponType}} <span class="cth-ico-cth"></span></div>
            <div class="cell f2">{{item.data.salvo}}</div>
            <div class="cell f2">{{localize (concat 'AC2D20.TEMPLATES.SizeLevels.' (getSizeLabel item.data.weight))}}</div>
            <div class="cell f2">
                <input type="number" class="ammo-quantity num-short-3" style="height: 1.1rem;" name="data.ammo" value="{{item.data.ammo}}">
            </div>
            <div class="cell f1 controls" style="display: flex; justify-content: space-between; border-right: none; ">
                <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            </div>
        </div>
    </div>
    {{/each}}
</div>