@use "../global/typography" as *;
@use "../utils/colors";

.ac2d20.momentum-tracker {
	display: flex;
	flex-direction: row;
	width: max-content;
	margin-bottom: 0.75rem;
	gap: 0.5rem;
	pointer-events: all;

	.ap-resource {
		border-radius: 9px;
		font-family: $font-germania;
		padding: 10px 20px;
		margin-bottom: 10px;
		min-width: 140px;

		&.gm {
			background-color: colors.$c-green-olive;
		}

		&.party {
			background-color: colors.$c-green-light;
		}

		h4 {
			color: bisque;
			font-family: $font-germania;
			font-size: 14px;
			font-weight: normal;
			text-align: center;
			margin: 0 0 4px 0;
		}

		input[type="number"] {
			color: #494e31;
			font-size: 22px;
			margin: 0 5px;
			text-align: center;
		}

		.ap-btn {
			align-items: center;
			background-color: bisque;
			border-radius: 6px;
			color: colors.$c-green-olive;
			display: flex;
			justify-content: center;
			max-width: 24px;
			min-height: 24px;
			min-width: 24px;
		}
	}
}
