@use "../global/typography" as *;
@use "../utils/colors";

.ac2d20.momentum-tracker {
	bottom: 250px;
	display: block;
	left: 10px;
	margin: 5px;
	position: absolute;
	z-index: 1000;

	.ap-resource {
		border-radius: 9px;
		font-family: $font-germania;
		padding: 10px 20px;
		position: relative;

		&.gm {
			background-color: colors.$c-green-olive;
		}

		&.party {
			background-color: colors.$c-green-light;
		}

		&.maxMomentum-box {
			background-color: colors.$c-green-olive;
		}

		.toggle-maxAp {
			color: beige;
			position: absolute;
			right: 5px;
			top: 8px;
		}

		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

		h4 {
			color: bisque;
			font-family: $font-germania;
			font-size: 14px;
			font-weight: normal;
			margin: 0 0 4px 0;
		}

		input[type="number"] {
			color: #494e31;
			font-size: 18px;
			margin: 0 5px;
			text-align: center;
		}

		.ap-btn {
			align-items: center;
			background-color: bisque;
			border-radius: 6px;
			color: colors.$c-green-olive;
			display: flex;
			justify-content: center;
			max-width: 24px;
			min-height: 24px;
			min-width: 24px;
		}
	}
}
