@use "../global/typography" as *;
@use "../utils/colors";

.window-app {
	font-family: $font-primary;

	.window-content {
		background-image: url(../assets/paper.webp);
		background-size: cover;

		button {
			background-color: colors.$c-beige;
			color: colors.$c-green-olive;
			font-family: $font-germania;
			font-size: 16px;

			&:hover {
				box-shadow: 0 0 5px colors.$c-green-light;
				cursor: pointer;
				text-shadow: 0 0 10px colors.$c-green-light;
			}
		}

	}
}

.font-primary {
	font-family: $font-primary;
}

.font-secondary {
	font-family: $font-secondary;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="time"]:focus {
	box-shadow: 0 0 5px colors.$c-green-light;
}

a {
	&:hover {
		text-shadow: 0 0 10px colors.$c-green-olive;
		cursor: pointer;
	}
}

.rollable {
	&:hover,
	&:focus {
		color: #000;
		text-shadow: 0 0 10px colors.$c-green-light;
		cursor: pointer;
	}
}

.ac2d20-dialog {
	select {
		background-color: beige;
		appearance: none;
		text-indent: 1px;
		text-overflow: "";
		margin-left: 5px;
		font-family: $font-germania;
		line-height: 1;
	}

	.resource {
		background-color: colors.$c-green-light;
		margin: 0 2px 5px;
		padding: 0 5px 0 0;

		.title-label {
			color: colors.$c-white;
			font-family: $font-germania;
			font-size: 1rem;
			padding: 5px;
		}

		input[type="number"] {
			background-color: colors.$c-beige;
			text-align: center;
		}
	}

	ul {
		list-style: none;
		margin: 0 2px 5px;
		padding: 5px 20px;

		li {
			text-align: center;
			text-decoration: none;

			.dice-icon {
				background-image: url(../assets/chat/d20-green-light.svg);
				background-repeat: no-repeat;
				background-size: 32px 32px;
				color: colors.$c-light;
				cursor: pointer;
				display: inline-block;
				font-size: 16px;
				font-weight: bold;
				line-height: 32px;
				margin-right: 1px;
				text-align: center;
				width: 32px;

				&.marked {
					background-image: url(../assets/chat/d20-olive.svg);
					color: colors.$c-light;
				}
			}
		}
	}
}

.chat-message {
	background-image: url(../assets/paper.webp);
	background-size: cover;
}

.ac2d20-chat-message {

	button {
		background-color: colors.$c-beige;
		color: colors.$c-green-olive;
		font-family: $font-germania;
		font-size: 16px;

		&:hover {
			box-shadow: 0 0 5px colors.$c-green-light;
			cursor: pointer;
			text-shadow: 0 0 10px colors.$c-green-light;
		}
	}

	.content {
		padding: 5px;

		h2 {
			border: none;
			font-family: $font-germania;
			font-size: 28px;
			font-weight: 700;
			margin-bottom: 4px;
			margin: 0;
		}

		.damage-effects {
			font-size: 12px;
		}

		.dices-result {
			margin: 5px 0 5px 0;
			min-height: 32px;
		}

		.success-plaq {
			color: colors.$c-green-olive;
			font-family: $font-germania;
			font-size: 18px;
			margin: 0 0 4px 0;

			.TN {
				font-family: $font-primary;
				font-size: 12px;
				font-style: italic;
				font-weight: bold;
			}
		}

		.complication-plaq {
			color: colors.$c-red-dark;
			font-family: $font-germania;
			font-size: 18px;
			margin: 0 0 5px 0;
		}

		.damage-plaq {
			color: colors.$c-green-olive;
			font-family: $font-germania;
			font-size: 18px;
			margin: 0 0 5px 0;
		}

		.dice-icon {
			background-repeat: no-repeat;
			background-size: 32px 32px;
			color: rgb(0, 0, 0);
			cursor: pointer;
			float: left;
			font-size: 18px;
			font-weight: bold;
			line-height: 32px;
			margin-right: 1px;
			min-width: 32px;
			position: relative;
			text-align: center;

			//-webkit-text-stroke: 1px rgb(255, 255, 255);
			&.d20 {
				background-image: url(../assets/chat/d20-white.svg);

				&.complication {
					background-image: url(../assets/chat/d20-complication.svg);
					color: honeydew !important;
				}

				&.success {
					background-image: url(../assets/chat/d20-success.svg);
				}

				&.crit {
					background-image: url(../assets/chat/d20-crit.svg);
					color: gold !important;
				}

				&.reroll {
					color: #1d1d1d;
				}
			}

			&.d6 {
				background-size: 32px 32px;
				line-height: 32px;
				margin: 2px;
				width: 32px;

				&.face-1 {
					background-image: url(../assets/chat/d1.webp);
				}

				&.face-2 {
					background-image: url(../assets/chat/d2.webp);
				}

				&.face-3 {
					background-image: url(../assets/chat/d3.webp);
				}

				&.face-4 {
					background-image: url(../assets/chat/d4.webp);
				}

				&.face-5 {
					background-image: url(../assets/chat/d5.webp);
				}

				&.face-6 {
					background-image: url(../assets/chat/d6.webp);
				}
			}

			&.dice-selected {
				opacity: 0.45;
			}
		}
	}
}

.chat-item {
	.item-name {
		text-align: center;

		h3 {
			font-family: $font-germania;
			font-size: 1.5rem;
		}
	}

	img {
		height: 4rem;
		width: 4rem;
	}
}

.dice-tooltip .dice-rolls .roll.max {
	color: unset;
	filter: none;
}

.dice-tooltip .dice-rolls .roll.min {
	color: unset;
	filter: none;
}
