<header class="sheet-header {{actor.type}}-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
    <img class="paperclip" src="systems/ac2d20/assets/paperclip-60.png" data-edit="img" height="60" />
    <div style="display: flex; flex-direction: column; justify-content: center; height: 100%; gap:0.3rem">
        <div class="flexrow" style="padding: 10px 5px 0px 5px;">
            <h1 class="sheet-name" style="margin: 0 5px; padding: 0;"><input class="underline" name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
        </div>
    </div>
</header>