<form class="{{cssClass}} {{actor.type}} flexcol theme-wrapper" autocomplete="off">


  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <img src="systems/ac2d20/assets/main-menu-slope.webp">
    <div class="buttons">
      <a class="item" data-tab="abilities">{{localize "AC2D20.TEMPLATES.Abilities"}}</a>
      <a class="item" data-tab="talents">{{localize "AC2D20.TEMPLATES.Talents"}}</a>
      <a class="item" data-tab="inventory">{{localize "AC2D20.TEMPLATES.Gear"}}</a>
      <a class="item" data-tab="spells">{{localize "AC2D20.TEMPLATES.Spells"}}</a>
      <a class="item" data-tab="data">{{localize "AC2D20.TEMPLATES.Data"}}</a>
      <a class="item" data-tab="effects">{{localize "AC2D20.TEMPLATES.Effects"}}</a>
    </div>
  </nav>

  {{!-- Sheet Header --}}
  {{> "systems/ac2d20/templates/actor/parts/actor-header.html"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned skills Tab --}}
    <div class="tab" data-group="primary" data-tab="abilities">
      {{> "systems/ac2d20/templates/actor/parts/actor-abilities.html"}}
    </div>

    {{!-- Talents Tab --}}
    <div class="tab" data-group="primary" data-tab="talents">
      {{> "systems/ac2d20/templates/actor/parts/actor-talents.html"}}
    </div>

    {{!-- Inventory Tab --}}
    <div class="tab" data-group="primary" data-tab="inventory">

    </div>

    {{!-- Biography Tab --}}
    <div class="tab data" data-group="primary" data-tab="data">
      {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/ac2d20/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>