.item-form {
  font-family: $font-primary;
}

.sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;

  .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 5px;  
    box-shadow: 0px 1px 5px black;
    border: 5px solid $c-white;
    background-color: $c-light;
  }

  .paperclip{
    position: absolute;
    height: 60px;
    margin-right: 10px;
    border: none;
    top:23px;
  }

  .header-fields {
    flex: 1;
    .post-item{
      padding-top: 2rem;
      cursor: pointer;
      color: $c-green-olive;
    }
  }

  h1.sheet-name {   
    font-family: $font-germania; 
    padding: 0;
    margin: 0;
    border-bottom: 0;
    flex: 2;
    input {
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

nav{  
  &.sheet-tabs{
    z-index: 1;
    position: absolute;
    display: flex;
    top: 30px;
    right: 0;    
    border: none;
    line-height: unset;
    margin: 0;   
    .buttons{
      padding: 0 5px;
      background-color: $c-green-olive;
      display: flex;
      &.blue{
        background-color: $c-blue-dark;
      }
      .item{        
        margin-top: 5px;      
        position: relative;
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        font-family: $font-germania;
        color: $c-black;
        background-color: $c-light;
        border: 1px solid $c-green-olive;
        text-shadow: none;        
        &.active{
          color: $c-light;
          background-color: $c-green-light;
          text-shadow: none;
          margin-top: 2px;
        }
        &.active.blue{
          background-color: $c-blue-light;
        }
        &.blue{border: 1px solid $c-blue-dark;}
      }
    }    
    img{
      border: none;
      border-radius: unset;
    }
  }
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
  height: 100%; 
}
.sheet-body .tab .editor{
  border: 1px solid $c-green-light;
  padding: 5px;
}
.sheet-body .tab {
  &.flex-tab{
    display: flex; 
    flex-direction: column;
  }
}


.tox {
  .tox-editor-container {
    background: $c-white;
  }

  .tox-edit-area {
    padding: 0 8px;
  }
}

.section-title{
  display: flex;
  flex-direction: row;
 
  h3{
    display: flex;
    align-items: center;
    font-family: Germania One;
    color: $c-light;
    background-color: $c-green-olive;
    padding: 2px 5px;
    margin-bottom: 0;
    width: fit-content;
    &.blue{
      background-color: $c-blue-dark;
    }
  }  
  .right-slope{
    min-width: 22px;
    background-repeat: no-repeat;
    &.olive{
      background-image: url(../assets/right-slope-olive.webp);
    }
    &.blue{
      background-image: url(../assets/right-slope-blue.webp);
    }
  }  
}

.attribute-grid{
  display: grid;
  grid-template-columns: repeat(7, 1fr);  
  color:$c-light;

  .attribute-cell {
    display: flex;
    align-items: center;
    padding: 1px;
    justify-content: center;
    border: 1px solid $c-green-light;
    margin:0 -1px -1px 0;
    &.green{
      background-color: $c-green-light;
    }
    &.olive{
      font-family: $font-germania;
      background-color: $c-green-olive;
    }
    input[type="number"] {
      text-align: center;
    }    
  }
}

.stress-derived-box{
  padding: 5px;
  //background-color: $c-green-light;
  margin-bottom: 10px;
  //border-top: 1px solid $c-green-olive;
  //border-bottom: 1px solid $c-green-olive;
}

.derived-box{
  display:flex; 
  justify-content: flex-end; 
  align-items: center;
  input[type="number"]{
    font-size: 1.2rem; 
    line-height: 1.2rem; 
    height: 30px; 
    font-family: 'Germania One';
  }
  h3{
    padding: 2px 5px; 
    margin: 0;
    color: $c-light;
    background-color: $c-green-olive;
    font-family: Germania One;
    &.minmax{
      padding-right: 5px; 
      background-color: $c-green-olive;
    }
  }
}

.injuries-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  margin-bottom: 10px;
  .injury-cell {
    .controls{
      display: flex;
      justify-content: space-between;
      input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        filter: none;
        box-sizing: borer-box;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 0;
        &.treated{
          background: url(../assets/injury-not-treated.webp);
        }
        &.injury-type{
          background: url(../assets/injury-p.webp);
        }        
      }
      input[type="checkbox"]:checked {
        margin: 0;
        filter: none;
        &.treated{background: url(../assets/injury-treated.webp);}
        &.injury-type{
          background: url(../assets/injury-m.webp);
        }
        
      }      
    }
    
    padding: 2px;
    border: 1px solid $c-green-light;
    margin:0 -1px -1px 0;
    .injury-text{
      padding: 0;
      resize: none;
      border: none;
      background-color: unset;
      white-space: normal;
    }     
  }
}

.truths-grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);  
  margin-bottom: 10px;
  .truth-cell {
    padding: 2px;
    border: 1px solid $c-green-light;
    margin:0 -1px -1px 0;
    textarea{
      resize: none;
      border: none;
      background-color: unset;
    }
  }
}

.skills{
  display: flex;
  flex-direction: column;
  border: 1px solid $c-green-light;
  
  .skill{
    display: flex;
    flex-direction: row;
    flex: 0;
    border-bottom: 1px solid $c-green-light;
    align-items: stretch;  
    .skill-name{
      display: flex;
      flex: 1;
      align-items: center;
      padding: 5px;
      color: $c-light;
      background-color: $c-green-light;      
      font-weight: 900;
      cursor: pointer;
    }
    .skill-value{
      display: flex;
      align-items: center;
      padding: 0 5px;
      border-left: 1px solid $c-green-light;
      border-right: 1px solid $c-green-light;     
    }
    .skill-focuses{
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 5;
      padding: 5px;    
      .skill-focus{
        color:rgb(150, 150, 150);
        &.focused{
          cursor: pointer;
          color:beige;
          background-color: $c-green-light;
          border-radius: 3px;
          padding: 0 2px;
        }
      }
    }
  }
  .skill:last-child{
    border-bottom: none;
  }
}




.ac-grid{
  display: flex;
  flex-direction: column;
  border: 1px solid $c-green-light;
  .item{
    border-bottom: 1px solid $c-green-light;
    &:last-child{
      border-bottom: none;
    }
    .row{
      display: flex;
      flex-direction: row;
      flex: 0;
     
      align-items: stretch;
      &:last-child{
        border-bottom: none;
      }
      .cell{
        display: flex;
        padding: 5px;
        border-right: 1px solid $c-green-light;   
        //text-align: center;  
        //justify-content: center;
        &.align-center{
          align-items: center;
        }
        &.align-left{
          justify-content: start;
          text-align: left;
        }
        &.cell-name{
          img{
            max-width: 1.563rem;
            max-height: 1.563rem;
            margin-right: 0.313rem;
          }
        }
        &.column{
          flex-direction: column;
        }
        &:last-child{
          border-right: none;
        }
        &.f1{
          flex: 1;
        }
        &.f2{
          flex: 2;
        }
        &.f3{
          flex: 3;
        }
        &.f4{
          flex: 4;
        }
        &.f5{
          flex: 5;
        }
        &.f05{
          flex: 0.5;
        }
        &.roll{
          cursor: pointer;
        }
        &.green{
          color: $c-light;
          background-color: $c-green-light;      
          font-weight: 900;
        }      
      }      
    }  
    .item-summary{
      padding: 5px;
      border-top: 1px solid $c-green-light;
      border-bottom: 1px solid $c-green-light;
    }
  }
}


.label-number-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  margin-bottom: 0.3rem;
  background-color: $c-green-light;
  input[type="number"]{
    height: 1.1rem;
  }
  &.blue{
    background-color: $c-blue-light;
  }
  label{
    font-weight: 900;
    color: $c-light; 
    text-transform: capitalize;
  }
}


.item-sheet{
  .focus-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
}

.editor-small{  
  display: flex;
  flex-direction: column;
  //height: auto;
  flex:1;
  overflow: hidden;
 // min-height: 220px;
 // height: 200px;
  .editor{
    flex: 0.96;
  }
  .tox {
    flex: 1;
    .tox-editor-container {
      min-height: 100px;
      flex: 1;
      background: $c-white;
    }
  
    .tox-edit-area {
      flex: 1;
      padding: 0 8px;
    }
  }
}

.cell-expander,
.expandable-info{
  cursor: pointer;
}

#context-menu {
  left: unset;
  right: 0;
  min-width: unset;
  width: unset;
  li.context-item {
      line-height: 26px;
  }
  .context-items {
      display: flex;
  }
}
.expand-down {
  top: 3px !important;
  right: 3px !important;
  bottom: 0 !important;
}
.expand-up {
  top: 3px !important;
  right: 3px !important;
  bottom: 0 !important;
}