// Section Header
.items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: $c-green-light;
  font-weight: bold;
  > * {
    font-size: 14px;
    text-align: center;
  }
  .item-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

/* ----------------------------------------- */
/*  Items Lists                              */
/* ----------------------------------------- */
// Child lists
.item-list {
  .item{
    margin: 0;
    .effect-name{
      .item-image{
        max-width: 25px;
        max-height:25px;
      }
    }
  }
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.items-list-npc{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  //color: $c-dark;

  // Child lists
  .item-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item{
    padding: 0.313rem;
    .main-row{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      .item-name {
        font-weight: 900;
        font-size: 0.875rem;
      }
    }
    .skill-focuses{
      *{
        font-size: 0.688rem;
      }
    }
  }

  .item:nth-child(odd) {
    background: lighten($c-light, 0%)
  }
  .item:nth-child(even) {
    background: lighten($c-light, 5%)
  }



}

 // Control Buttons
 .item-controls {
  display: flex;
  flex: 0 0 50px;
  justify-content: flex-end;
  align-items: center;
  a {
    font-size: 12px;
    text-align: center;
    margin: 0 6px;
    color: grey;
  }
}



/* Example style for Boilerplate (can be removed if not needed) */
.item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.item-control{
  color: $c-green-olive;
  &.blue{
    color: $c-blue-dark;
  }
  margin-right: 3px;
  &.item-unequipped,
  .item-unstashed,
  .item-unpowered,
  .favorite-start-dim {
    color: rgba(73, 78, 49, 0.3);
  }
}