.ac2d20.momentum-tracker {
	position: absolute;
	display: block;
	margin: 5px;
	//padding: 10px;
	//border: 1px solid black;
	//border-radius: 12px;
	//background-color: $f-vault-blue;
	bottom: 40px !important;
	right: 320px !important;
    max-width: 180px;

	.ap-resource {
		position: relative;
		padding: 10px 20px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
        border-radius:9px;
		font-family: $font-germania;
		//color: white;
		&.gm {
            background-color: $c-green-olive;			
		}
		&.party {
            background-color: $c-green-light;
		}
		&.maxMomentum-box {
            background-color: $c-green-olive;
		}

		.toggle-maxAp {
			position: absolute;
			top: 8px;
			right: 5px;
			color: beige;
		}

		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		h4 {
			margin: 0 0 2px 0;
			color: bisque;
		}
		input[type="number"] {
			margin: 0 5px;
			font-size: 16px;
            text-align: center;
		}

		.ap-btn {
			min-width: 24px;
			min-height: 24px;
			max-width: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: bisque;
			border-radius: 6px;
		}
	}
}
