input[type="text"],
input[type="number"] {
	background-color: $c-light;
	color: $c-dark;

	&.underline {
		background-color: unset;
		border: unset;
		border-bottom: 1px solid $c-dark;
		color: $c-dark;

		&::placeholder {
			color: #999;
		}
	}


	&.borderless {
		border: none;
	}
}


.toggle-label {

	input[type="checkbox"] {
		display: none;
	}

	label {
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	padding: 3px;

	&:hover {
		background: rgba(0, 0, 0, 0.1);
	}

	&.active {
		color: $c-light;
		background-color: $c-green-light;

		&:hover {
			color: $c-white;
			background-color: $c-green-olive;
		}
	}

}


.resource {
	margin-bottom: 5px;
	align-items: center;

	&.green-field {
		padding: 5px;
		background-color: $c-green-olive;
		color: $c-light;
	}
}

.resource-label {
	text-transform: capitalize;
}

select {
	color: $c-dark;
	background-color: darken($c-light, 10%);
}

.upperC {
	text-transform: uppercase;
}

.lowerC {
	text-transform: lowercase;
}

.text-center {
	text-align: center;
}

.num-short-2 {
	min-width: 2rem;
	max-width: 2rem;
	text-align: center;
}

.num-short-3 {
	min-width: 3rem;
	max-width: 3rem;
	text-align: center;
}

.num-small {
	height: 1.1rem;
}

.clickable {
	cursor: pointer;

	&:hover {
		//font-weight: bold;
		text-shadow: 0 0 0.313rem #999;
	}
}

.textbox {
	width: 100%;
	height: 100%;
	padding: 0.3rem;
	border: 1px solid grey;
	overflow-y: scroll;
	overflow-x: none;
	resize: none;

	p {
		margin: 0;
		padding: 0;

		&:hover {
			background: rgba(0, 0, 0, 0.05);
		}
	}


	textarea {
		resize: none;
		padding: 0;
		border: unset;
		border-radius: 0;
		background-color: unset;
		white-space: normal;
		height: 100%;
	}
}

.character-truths {
	height: 104px;
}

.npc-truths {
	height: 168px;
}

.vehicle-truths {
	height: 72px;
}
