<div class="ac2d20 momentum-tracker">
    {{#if (eq showGMMomentumToPlayers true)}}
    <div class="ap-resource gm" data-type="gmMomentum">
        <div class="flexcol">
            <h4>{{localize "AC2D20.TEMPLATES.GM_MOMENTUM"}}</h4>
        </div>
        <div class="flexrow align-mid">           
            <a class="ap-btn {{#if (eq isGM true)}}ap-sub{{/if}}">-</a>            
            <input type="number" class="ap-input num-short-3" value={{gmMomentum}} {{#if (ne isGM true)}}disabled{{/if}}>
            <a class="ap-btn  {{#if (eq isGM true)}}ap-add{{/if}}">+</a>
        </div>
    </div>
    {{/if}}

    {{#if (eq maxAppShowToPlayers true)}}
    <div class="ap-resource maxMomentum-box" data-type="maxMomentum">
        <div class="flexcol">
            <h4>{{localize "AC2D20.TEMPLATES.MAX_PARTY_MOMENTUM"}}</h4>
        </div>
        <div class="flexrow align-mid">
            <a class="ap-btn ap-sub">-</a>
            <input type="number" class="ap-input num-short-3" value="{{maxMomentum}}">
            <a class="ap-btn ap-add">+</a>
        </div>
    </div>
    {{/if}}

    <div class="ap-resource party" data-type="partyMomentum">
        {{#if (eq maxAppShowToPlayers true)}}
        <a class='toggle-maxAp'><i class="fas fa-cog"></i></a>
        {{/if}}
        <div class="flexcol">
            <h4>{{localize "AC2D20.TEMPLATES.PARTY_MOMENTUM"}}</h4>
        </div>
        <div class="flexrow align-mid">
            <a class="ap-btn ap-sub">-</a>
            <input type="number" class="ap-input num-short-3" value="{{partyMomentum}}">
            <a class="ap-btn ap-add">+</a>
        </div>
    </div>

</div>