<form class="{{cssClass}} item-sheet flexcol" autocomplete="off">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <img src="systems/ac2d20/assets/main-menu-slope.webp">
        <div class="buttons">
            <a class="item" data-tab="description">{{localize "AC2D20.TEMPLATES.Description"}}</a>
        </div>
    </nav>

    {{> "systems/ac2d20/templates/item/parts/item-header.html"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab flex-tab description" data-group="primary" data-tab="description">

            <div class="resource green-field" style="display: flex; flex-direction: row; justify-content: space-between;">
                <span class="" style="display: flex; align-items: center; margin-right: 5px;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Skill"}}</label>
                    <input type="text" name="data.skill" value="{{data.skill}}">
                </span>
                <span class="" style="display: flex; align-items: center; margin-right: 5px;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Focus"}}</label>
                    <input type="text" name="data.focus" value="{{data.focus}}">
                </span>
                <span class="" style="display: flex; align-items: center;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.SpellType"}}</label>
                    <select name="data.spellType" id="">
                        {{#select data.spellType}}
                        <option value="ins">Traditional</option>
                        <option value="rea">Researcher</option>
                        <option value="wil">Dabbler</option>
                        {{/select}}
                    </select>
                </span>
            </div>
            <div class="resource flexrow green-field">
                <span class="" style="display: flex; align-items: center; margin-right: 5px;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Difficulty"}}</label>
                    <input type="number" name="data.difficulty" value="{{data.difficulty}}">
                </span>
                <span class="" style="display: flex; align-items: center; margin-right: 5px;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Cost"}}</label>
                    <input type="number" name="data.cost" value="{{data.cost}}">
                </span>
                <span class="" style="display: flex; align-items: center;">
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Duration"}}</label>
                    <input type="text" name="data.duration" value="{{data.duration}}">
                </span>
            </div>
            <div class="section-title">
                <h3>{{localize "AC2D20.TEMPLATES.Description"}}</h3>
                <span class="right-slope olive"></span>
            </div>
            {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
        </div>


    </section>

</form>