<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <img src="systems/ac2d20/assets/main-menu-slope.webp">
        <div class="buttons">
            <a class="item" data-tab="attributes">{{localize "AC2D20.TEMPLATES.Attributes"}}</a>
        </div>
    </nav>

    {{> "systems/ac2d20/templates/item/parts/item-header.html"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Attributes Tab --}}
        <div class="tab flex-tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid" style="margin: 0 0 5px 0;">
                <div class="resource-row bgOdd">
                    <div class="section-title">
                        <h3>{{localize "AC2D20.TEMPLATES.SkillFocus"}}</h3>
                        <span class="right-slope olive"></span>
                    </div>
                    <input type="text" name="data.skill" value="{{data.skill}}">
                </div>

                <div class="resource-row bgOdd">
                    <div class="section-title">
                        <h3>{{localize "AC2D20.TEMPLATES.Resources"}}</h3>
                        <span class="right-slope olive"></span>
                    </div>
                    <input type="number" name="data.resources" value="{{data.resources}}" style="text-align:center">
                </div>
            </div>

            <div class="section-title">
                <h3>{{localize "AC2D20.TEMPLATES.Description"}}</h3>
                <span class="right-slope olive"></span>
            </div>
            {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}

        </div>
    </section>
</form>