<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <img src="systems/ac2d20/assets/main-menu-slope.webp">
    <div class="buttons">
      <a class="item" data-tab="attributes">{{localize "AC2D20.TEMPLATES.Attributes"}}</a>
      <a class="item" data-tab="description">{{localize "AC2D20.TEMPLATES.Description"}}</a>
    </div>
  </nav>

  {{> "systems/ac2d20/templates/item/parts/item-header.html"}}

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="resource-row flexrow bgEven resource">
        <label class="resource-label" for="data.weaponType"><strong>{{localize "AC2D20.WEAPONS.type"}}</strong></label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each AC2D20.WEAPONS.weaponTypes as |weaponType key| }}
          <option value="{{weaponType.bonusAttribute}}">{{localize (concat 'AC2D20.WEAPONS.weaponTypes.' weaponType.label)}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="flexrow resource-row bgOdd resource">
        <label class="resource-label"><strong>{{localize "AC2D20.TEMPLATES.Skill"}}</strong></label>
        <select name="data.skill">
          {{#select data.skill}}
          {{#each AC2D20.SKILLS as |skill key|}}
          <option value="{{skill.key}}">{{localize (concat 'AC2D20.SKILL.' skill.label)}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="flexrow resource-row bgOdd resource">
        <label class="resource-label"><strong>{{localize "AC2D20.TEMPLATES.Focus"}}</strong></label>
        <select name="data.focus">
          {{#select data.focus}}
          {{#each (getSkillFocusList data.skill) as |foc key|}}
          {{log data.skill}}
          <option value="{{foc}}">{{localize foc}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <!-- <div class="flexrow resource-row bgOdd resource">
        <label class="resource-label"><strong>{{localize "AC2D20.TEMPLATES.Focus"}}</strong></label>
        <select name="data.focus">
          {{#select data.focus}}
          {{#each AC2D20.WEAPONS.fightingFocuses as |foc key|}}
          <option value="{{key}}">{{localize foc}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div> -->

      <div class="resource-row flexrow bgEven resource">
        <label class="resource-label" for="data.range"><strong>{{localize "AC2D20.TEMPLATES.RANGE"}}</strong></label>
        <select name="data.range">
          {{#select data.range}}
          {{#each AC2D20.WEAPONS.range as |range key|}}
          <option value="{{key}}">{{localize range }}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="resource-row flexrow bgOdd resource">
        <label class="resource-label" for="data.stress"><strong>{{localize "AC2D20.STRESS.stress"}}</strong></label>
        <input type="number" name="data.stress" value="{{data.stress}}">
      </div>

      <div class="resource-row flexrow bgEven resource">
        <label class="resource-label" for="data.ammo"><strong>{{localize "AC2D20.TEMPLATES.Ammo"}}</strong></label>
        <input type="number" name="data.ammo" value="{{data.ammo}}">
      </div>

      <div class="resource-row flexrow bgOdd resource">
        <label class="resource-label" for="data.salvo"><strong>{{localize "AC2D20.TEMPLATES.Salvo"}}</strong></label>
        <input type="text" name="data.salvo" value="{{data.salvo}}">
      </div>

      <div class="grid">
        <div class="resource-row">
          <div class="section-title">
            <h3>{{localize "AC2D20.TEMPLATES.Weapon_Qualities"}}</h3>
            <span class="right-slope olive"></span>
          </div>
          <div class="items-list" style="border: 1px solid #759549;">
            {{#each data.qualities as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.qualities.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'AC2D20.WEAPONS.weaponQuality.' key)}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="resource-row">
          <div class="section-title">
            <h3>{{localize "AC2D20.TEMPLATES.DAMAGE_EFFECTS"}}</h3>
            <span class="right-slope olive"></span>
          </div>
          <div class="items-list" style="border: 1px solid #759549;">
            {{#each data.effect as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.effect.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'AC2D20.WEAPONS.damageEffect.' key)}}
              </label>
              {{#if (ne item.rank undefined)}}
              <input type="number" name="data.effect.{{key}}.rank" class="num-short-2" style="height: 1.1rem;" value="{{item.rank}}">
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </section>
</form>