<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> "systems/ac2d20/templates/item/parts/item-header.html"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "AC2D20.TEMPLATES.Attributes"}}</a>
    <a class="item" data-tab="description">{{localize "AC2D20.TEMPLATES.Description"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.weaponType">{{localize "AC2D20.WEAPONS.type"}}</label>
        <select name="data.weaponType">
          {{#select data.weaponType}}
          {{#each AC2D20.WEAPONS.weaponTypes as |weaponType key| }}
          <option value="{{weaponType.bonusAttribute}}">{{localize (concat 'AC2D20.WEAPONS.weaponTypes.' weaponType.label)}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="flexrow resource-row bgOdd">
        <label class="resource-label">{{localize "AC2D20.TEMPLATES.Focus"}}</label>
        <select name="data.focus">
          {{#select data.focus}}
          {{#each AC2D20.WEAPONS.fightingFocuses as |foc key|}}
          <option value="{{key}}">{{localize foc}}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.range">{{localize "AC2D20.TEMPLATES.RANGE"}}</label>
        <select name="data.range">
          {{#select data.range}}
          {{#each AC2D20.WEAPONS.range as |range key|}}
          <option value="{{key}}">{{localize range }}</option>
          {{/each}}
          {{/select}}
        </select>
      </div>

      <div class="resource-row flexrow bgEven">
        <label class="resource-label" for="data.stress">{{localize "AC2D20.STRESS.stress"}}</label>
        <input type="number" name="data.stress" value="{{data.stress}}">
      </div>

      <div class="resource-row flexrow bgOdd">
        <label class="resource-label" for="data.ammo">{{localize "AC2D20.TEMPLATES.Ammo"}}</label>
        <input type="number" name="data.ammo" value="{{data.ammo}}">
      </div>

      <div class="resource-row flexrow bgOdd">
        <label class="resource-label" for="data.salvo">{{localize "AC2D20.TEMPLATES.Salvo"}}</label>
        <input type="text" name="data.salvo" value="{{data.salvo}}">
      </div>

      <div class="grid">
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">{{localize "AC2D20.TEMPLATES.Weapon_Qualities"}}</label>
          <div class=" item-list">
            {{#each data.qualities as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.qualities.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'AC2D20.WEAPONS.weaponQuality.' key)}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="resource-row">
          <label class="resource-label" for=" data.damage.rating">{{localize "AC2D20.TEMPLATES.DAMAGE_EFFECTS"}}</label>
          <div class=" item-list">
            {{#each data.effect as |item key|}}
            <div class="flexrow toggle-label {{#ifCond item.value '==' true}}active{{/ifCond}}">
              <label>
                <input type="checkbox" name="data.effect.{{key}}.value" {{#ifCond item.value '==' true}}checked{{/ifCond}}>{{localize (concat 'AC2D20.WEAPONS.damageEffect.' key)}}
              </label>
              {{#if (or (eq key 'piercing') (eq key 'persistent'))}}
              <input type="number" name="data.effect.{{key}}.rank" class="num-short-2" value="{{item.rank}}">
              {{/if}}
            </div>
            {{/each}}
          </div>
        </div>
      </div>


    </div>
  </section>
</form>