<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs" data-group="primary">
        <img src="systems/ac2d20/assets/main-menu-slope.webp">
        <div class="buttons">
            <a class="item" data-tab="attributes">{{localize "AC2D20.TEMPLATES.Attributes"}}</a>
            <a class="item" data-tab="description">{{localize "AC2D20.TEMPLATES.Description"}}</a>
        </div>
    </nav>

    {{> "systems/ac2d20/templates/item/parts/item-header.html"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">

            <div class="resource green-field flexrow">
                <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.SpellType"}}</label>
                <select name="data.spellType" id="">
                    {{#select data.spellType}}
                    <option value="ins">Traditional</option>
                    <option value="rea">Researcher</option>
                    <option value="wil">Dabbler</option>
                    {{/select}}
                </select>
            </div>
            <div class="resource green-field flexrow">
                <span>
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Skill"}}</label>
                    <select name="data.skill">
                        {{#select data.skill}}
                        {{#each AC2D20.SKILLS as |skill key|}}
                        <option value="{{skill.key}}">{{localize (concat 'AC2D20.SKILL.' skill.label)}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </span>
                <span>
                    <label style="margin-right: 5px;">{{localize "AC2D20.TEMPLATES.Focus"}}</label>
                    <select name="data.focus">
                        {{#select data.focus}}
                        <option value="">{{localize foc}}</option>
                        {{#each (getSkillFocusList data.skill) as |foc key|}}
                        {{log data.skill}}
                        <option value="{{foc}}">{{localize foc}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </span>

            </div>
            <div class="resource flexrow green-field">
                <span class="flex-group-left">
                    <label>{{localize "AC2D20.TEMPLATES.Difficulty"}}</label>
                    <input type="number" class="num-short-2" name="data.difficulty" value="{{data.difficulty}}">
                </span>
                <span class="flex flex-group-left" style="gap:5px">
                    <label>{{localize "AC2D20.TEMPLATES.Duration"}}</label>
                    <input type="text" name="data.duration" value="{{data.duration}}">
                </span>
            </div>
            <div class="resource flexrow green-field">
                <span class="flex flex-group-left" style="gap:5px">
                    <label>{{localize "AC2D20.TEMPLATES.Cost"}}</label>
                    <input type="number" class="num-short-2" name="data.cost" value="{{data.cost}}">
                </span>
                <span class="flex flex-group-left" style="gap:5px">
                    <label>{{localize "AC2D20.TEMPLATES.CostEffects"}}</label>
                    <input type="text" name="data.costEffects" value="{{data.costEffects}}">
                </span>
            </div>

            <hr>

            <div class="section-title" style="margin-bottom: 0.313rem;">
                <h3>{{localize "AC2D20.TEMPLATES.Ritual"}}</h3>
                <span class="right-slope olive"></span>
            </div>

            <div class="resource flexrow green-field">
                <label>{{localize "AC2D20.TEMPLATES.ritual_stress"}}</label>
                <span class="flex flex-group-left" style="gap:5px">
                    <input type="number" class="num-short-2" name="data.ritualStress.value" value="{{data.ritualStress.value}}">
                    <label>/</label>
                    <input type="number" class="num-short-2" name="data.ritualStress.max" value="{{data.ritualStress.max}}">
                </span>
            </div>
            <div class="resource flexrow green-field">
                <label>{{localize "AC2D20.TEMPLATES.ritual_steps"}}</label>
                <span class="flex flex-group-left" style="gap:5px">
                    <input type="number" class="num-short-2" name="data.ritualSteps.value" value="{{data.ritualSteps.value}}">
                    <label>/</label>
                    <input type="number" class="num-short-2" name="data.ritualSteps.max" value="{{data.ritualSteps.max}}">
                </span>
            </div>
            <div class="resource flexrow green-field">
                <label>{{localize "AC2D20.TEMPLATES.ritual_resistance"}}</label>
                <input type="text" name="data.ritualResistance" value="{{data.ritualResistance}}">
            </div>
            <div class="resource flexrow green-field">
                <span class="flex flex-group-left" style="gap:5px">
                    <label>{{localize "AC2D20.TEMPLATES.ritual_requirements"}}</label>
                    <input type="text" name="data.ritualRequirements" value="{{data.ritualRequirements}}">
                </span>
            </div>
        </div>
    </section>
</form>